login {

  display: block;
  height: 100vh;
  position: relative;
  font-family: Verdana, Geneva, sans-serif;

  .form_container {
    position: absolute;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    label, input, button {
      display: block;
      box-sizing: border-box;
      width: 100%;
      border: none;
      outline: none;
      padding: 10px;
    }

    input {
      background-color: azure;
      font-size: 16px;
      &:focus {
        background-color: darken(azure, 10%);
      }
    }

    button {
      color: #fff;
      cursor: pointer;
      background-color: darkgrey;
      font-size: 16px;
      &:hover {
        background-color: darken(darkgrey, 10%);
      }
    }

  }

}

mock {

  @border_width: 1px;

  display: inline-block;
  width: 16.666vw;
  vertical-align: top;
  position: absolute;
  background-color: rgba(0,0,0,0.1);
  border: @border_width solid rgba(0,0,0,0.4);
  box-sizing: border-box;

  img {
    vertical-align: top;
    cursor: pointer;
  }

  .mock_container {
    position: absolute;
    left: -@border_width;
    right: -@border_width;
    top: -@border_width;
    bottom: -@border_width;
  }

  .mock_overlay {

    position: absolute;
    background-color: rgba(0,0,0,0.6);
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    .mock_edit_tools {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .delete_btn {
      border: none;
      height: 40px;
      display: inline-block;
      font-size: 20px;
      color: #fff;
      padding: 5px 20px;
      text-align: center;
      outline: none;
      cursor: pointer;
      box-sizing: border-box;
      line-height: 100%;

      background-color: darkred;

      &:hover {
        background-color: darken(darkred, 10%);
      }
    }

  }

  .mock_overlay_delete {
    position: absolute;
    background-color: rgba(100,20,0,0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 1;
  }

  &:hover {
    .mock_overlay {
      visibility: visible;
      opacity: 1;
    }

    .mock_overlay_delete {
      background-color: rgba(100,20,0,0.7);
    }
  }

  .mock_coord {
    position: absolute;
    top:0;
    left: 0;
    color: #fff;
    padding: 5%;
    max-width: 100%;
    box-sizing: border-box;
    font-size: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
    z-index: 2;
  }

  .mock_preview {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    z-index: 10000;

    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

  }

  .mock_layer_tools {
    position: absolute;
    right: 2%;
    bottom: 2%;
    max-width: 90%;
    font-size: 0;
    text-align: left;
    z-index: 1;
    background-color: rgba(0,0,0,0.4);
    button, span {

      display: inline-block;
      width: 33%;
      height: 22px;
      border: none;
      outline: none;
      font-size: 18px;
      text-align: center;
      padding-left: 0;
      padding-top: 0;
      margin: 0;
      vertical-align: top;

    }

    span {
      color: #fff;
    }

  }

  &.selected {

    .mock_overlay {
      visibility: visible;
      opacity: 1;
      background-color: rgba(0,0,0,0.8);

    }

  }

}

gallery {

  display: block;
  font-family: Verdana, Geneva, sans-serif;

  .nav_bar {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: rgba(50,50,50, 0.9);
    z-index: 1;
    box-sizing: border-box;
    text-align: center;

  }

  .nav_bar_btn {
    border: none;
    height: 30px;
    display: inline-block;
    font-size: 15px;
    color: #fff;
    padding: 5px 20px;
    text-align: center;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
    line-height: 100%;

    &.create {

      background-color: coral;

      &:hover {
        background-color: darken(coral, 10%);
      }

    }

    &.delete {

      background-color: thistle;

      &:hover {
        background-color: darken(thistle, 10%);
      }

      &.active {
        background-color: darken(thistle, 30%);
      }

    }

    &.sizes {

      background-color: cornflowerblue;

      &:hover {
        background-color: darken(cornflowerblue, 10%);
      }

      &.active {
        background-color: darken(cornflowerblue, 30%);
      }

    }
  }

  .create_modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(50,50,50, 0.9);
    padding: 30px;
    z-index: 2;
    width: 500px;

    form {
      display: block;

      input, button {
        border: none;
        outline: none;
        padding: 5px 20px;
        height: 40px;
        font-size: 16px;
        box-sizing: border-box;
      }

      input {
        display: block;
        border: none;
        outline: none;
        height: 40px;
        font-size: 16px;
        width: 100%;
        box-sizing: border-box;
        background-color: #fff;
        &:focus {
          background-color: #eff;
        }
      }

      button {
        cursor: pointer;
        display: inline-block;
        background-color: darkgrey;
        color: #fff;
        &:hover {
          background-color: darken(darkgrey, 10%);
        }
      }

      .create_form_btn_create {
        background-color: deepskyblue;
        &:hover {
          background-color: darken(deepskyblue, 20%);
        }
      }

    }

    .create_form_btns {
      margin-top: 5px;
    }

  }

  .mock_canvas {
    //font-size: 0;
  }

}

mock-canvas {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #030303;

  .empty_mocks_overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}